a, img, div, h4, h6, nav, p, section, span, ul{
    background: 0 0;
    border: 0;
	margin: 0;
    outline: 0;
    padding: 0;
	text-decoration: none;
    vertical-align: baseline;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}

#background_image{
	width: 1519.2px;
    height: 483px;
    object-fit: cover;
    pointer-events: none;
}

#divSite{
	position: absolute;
    top: 0px;
    width: calc((((100vw - 16px) - 0px) * 1) + 1px);
    height: 100%;
    pointer-events: none;
    left: calc((((((100vw - 16px) - 0px) * 1) - 980px) * -0.5) - 1px);
    bottom: 0px;
    overflow: hidden;
    clip: rect(0px, 1011px, 583px, 0px);
}

#divBgImage{
	transform: translate3d(0px, 0.2px, 0px);
    position: relative;
    width: 1520px;
    height: 483px;
    opacity: 0.2;
}

#divEducation{
	background-color: rgb(255,255,255);
	border-bottom: 2px solid #efefef;
	position: absolute;
    top: 1842px;
    width: 100%;
    height: 100px;
    pointer-events: auto;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
   /* clip: rect(0px, 1519px, 100px, 0px);*/	
}

#divEducationTitle{
	position: absolute;
    width: 980px;
    left: 309px;
    height: 100px;
}

#divExperience{
	border-bottom: 2px solid #efefef;
	position: absolute;
    top: 1058px;
    width: 100%;
    height: 100px;
    pointer-events: auto;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    /*clip: rect(0px, 1519px, 100px, 0px);*/
    background-color: rgb(255,255,255);
}

#divExperienceContent{
	position: absolute;
    left: 309px;
    width: 980px;
    top: 0px;
    height: 551px;
}


#divExperienceTimeline{
	border-bottom: 2px solid #efefef;
	position: absolute;
    top: 1160px;
    width: 100%;
    height: 680px;
    pointer-events: auto;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
   /* clip: rect(0px, 1519px, 560px, 0px);*/
    background-color: rgb(255,255,255);
}

#divExperienceTitle{
    position: absolute;
    width: 980px;
    left: 309px;
    height: 100px;
}

#divObjective{
	position: absolute;
    top: 583px;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    left: 0;
    bottom: 0px;
    overflow: hidden;
    clip: rect(0px, 1520px, 475px, 0px);
    background-color: rgb(241,241,241,1);
}

#divMyObjective{
	left: 540px;
    width: 520px;
    height: 172.8px;
    position: absolute;
    top: 180px;
    word-wrap: break-word;
    text-align: start;
    pointer-events: none;
    background-color: rgb(241,241,241,1);
    z-index: 1;
}

#divPersonalData{
	position: absolute;
    width: 940.5px;
    top: 30px;
    bottom: 0px;
    left: 310px;
}

#divProfilePic{
	transform: translateZ(0px);
    position: absolute;
    bottom: 0;
    top: 0;
    width: 470px;
}

#divSocialNetwork{
	left: 309px;
    width: 940.5px;
    position: absolute;
    visibility: inherit;
    top: 583px;
    height: 74px;
    background-color: #182153;
    z-index: 1;
}

#divSocialNetworkLogo{
	width: 216px;
    left: 362px;
    position: absolute;
    top: 23px;
    height: 24px;
}

#divTextAboutMe{
	left: 83px;
    width: 304px;
    position: absolute;
    top: 83px;
}

#divTextData{
	left: 470px;
    width: 470px;
    position: absolute;
    visibility: inherit;
    top: 0px;
    bottom: 0;
    background-color: #fbfbfb;
}

#firstExperience{
	left: 0px;
    width: 435px;
    position: absolute;
    top: 52px;
    visibility: inherit;
}

#firstExperienceText{
	left: 545px;
    width: 416px;
    position: absolute;
    top: 52px;
    visibility: inherit;
}

#h4MyObjective{
	text-align: center;
	margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
}

#h5textEducation{
	text-align: center;
	margin: 0;
    line-height: normal;
    letter-spacing: 0.05em;
    font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
    font-weight: bold;
}

#h5textExperience{
	text-align: center;
	margin: 0;
    line-height: normal;
    letter-spacing: 0.05em;
    font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
    font-weight: bold;
}

#h6PersonalData{
	letter-spacing: normal;
	line-height: 1.8em;
	margin: 0;
	pointer-events: auto;
	font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
}

#h6Experience{
	line-height: 1.8em;
    text-align: right;
    letter-spacing: 0.25em;
    font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
}

#imgProfilePic{
	transform: translateZ(0px);
    position: absolute;
    bottom: 0;
    top: 0;
    width: 470px;
    height: 453px; 
}

#liNav{
	width: 134px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
}

#liSocialNetwork{
	width: 24px;
    height: 24px;
    margin-bottom: 0px;
    margin-right: 24px;
    display: inline-block;
}

#myName{
	height: 42px;
	left: 30px;
	min-height: 42px;
	position: fixed;
	text-align: initial;
	top: 28px;
	width: 183px;
}

#myNameLink{
    align-items: center;
	background-color: transparent;
	border: solid transparent 0px;
    border-radius: 0;
    bottom: 0;
	cursor: pointer !important;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    -webkit-box-align: center;

}

#myNameSpan{
    color: #182153;
    display: inline-block;
	font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    position: relative;
    transition: color 0.4s ease 0s;
    white-space: nowrap;
}

#myNameSpan:hover{
	color: #a4a7b9;
}

#myObjective{
	line-height: 1.6em;
    text-align: center;
    font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
}

#navSite{
    height: 50px;
    position: fixed;
    right: 20px;
	top: 30px;
    width: 708px;
    z-index: 50;
}

#companyName{
	line-height: 1.8em;
	font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
    letter-spacing: 0.2em;
}

#pExperience{
	line-height: 1.8em;
    text-align: right;
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
    letter-spacing: 0.2em;
}

#pNav{
	text-align: center;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    color: #182153;
    transition: color 0.4s ease 0s;
    font-size: 16px;
}

#pNav:hover{
	color: #a4a7b9;
}

#secondExperience{
	left: 0px;
    width: 435px;
    position: absolute;
    top: 250px;
    visibility: inherit;
}

#secondExperienceText{
	left: 545px;
    width: 416px;
    position: absolute;
    top: 250px;
    visibility: inherit;
}

#sectionSite{
	position: absolute;
    pointer-events: none;
    top: 100px;
    transform-style: preserve-3d;
    width: 1519.2px;
    left: -1px;
    height: 483px;
    background-color: #060629;
}

#site_header{
	position: fixed;
	width: 1519.2px;
	margin-top: 0px;
	top: 0px;
	height: 101px;
	left: 0px;
	background-color: #fbfbfb;
}

#textEducation{
	left: 190px;
    width: 600px;
    height: 24px;
    position: absolute;
    top: 38px;
}

#textExperience{
	left: 190px;
    width: 600px;
    height: 24px;
    position: absolute;
    top: 38px;
}

#textPersonalData{
	letter-spacing: 0.05em;
 	font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
 	font-weight: bold;
 	color: #182153;
}

#textMyName{
	margin: 0;
    line-height: normal;
    letter-spacing: normal;
    font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
}

#thirdExperience{
	left: 0px;
    width: 435px;
    position: absolute;
    top: 490px;
    visibility: inherit;
}

#thirdExperienceText{
	left: 545px;
    width: 416px;
    position: absolute;
    top: 490px;
    visibility: inherit;
}

#timeLine{
	border-bottom: 1.2px solid rgba(241, 241, 241, 1);
    height: 0 !important;
    min-height: 0 !important;
}

#ulNav{
	text-align: center;
	list-style: none;
}

#ulSocialNetwork{
    list-style: none;
    display: block;
	position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

